html head + body .ui-body-c.ui-focus {
    -webkit-box-shadow: 0 0 12px #3388cc /*{b-active-background-color}*/;
    -moz-box-shadow: 0 0 12px #3388cc /*{b-active-background-color}*/;
    box-shadow: 0 0 12px #3388cc /*{b-active-background-color}*/;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background-color: transparent;
}

.ui-body-c, .ui-page-theme-c .ui-body-inherit, html .ui-bar-c .ui-body-inherit, html .ui-body-c .ui-body-inherit, html body .ui-group-theme-c .ui-body-inherit, html .ui-panel-page-container-c {
    background-color: white /*{b-body-background-color}*/;
    border-color: #ADADAD /*{b-body-border}*/;
    color: #444444 /*{b-body-color}*/;
    text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #444444 /*{b-body-shadow-color}*/;
}

input.centerText {
    text-align: center;
}

input.leftText {
    text-align: left;
}

input.rightText {
    text-align: right;
}

div.WebVersion {
    position: fixed;
    bottom: 0;
    right: 0px;
    text-shadow: 0 0;
    color: white;
    background-color: black;
    font-size: 0.8em;
}