/*html head + body .ui-body-c.ui-focus*/
/*{*/
    /*-webkit-box-shadow: 0 0 12px #3388cc /!*{b-active-background-color}*!/;*/
    /*-moz-box-shadow: 0 0 12px #3388cc /!*{b-active-background-color}*!/;*/
    /*box-shadow: 0 0 12px #3388cc /!*{b-active-background-color}*!/;*/
/*}*/

/*.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper*/
/*{*/
    /*background-color: transparent;*/
/*}*/

/*.ui-body-c, .ui-page-theme-c .ui-body-inherit, html .ui-bar-c .ui-body-inherit, html .ui-body-c .ui-body-inherit, html body .ui-group-theme-c .ui-body-inherit, html .ui-panel-page-container-c*/
/*{*/
    /*background-color: white /!*{b-body-background-color}*!/;*/
    /*border-color: #ADADAD /!*{b-body-border}*!/;*/
    /*color: #444444 /!*{b-body-color}*!/;*/
    /*text-shadow: 0 /!*{b-body-shadow-x}*!/ 1px /!*{b-body-shadow-y}*!/ 0 /!*{b-body-shadow-radius}*!/ #444444 /!*{b-body-shadow-color}*!/;*/
/*}*/
/*input.centerText*/
/*{*/
    /*text-align: center;*/
/*}*/

#SRRProfile .modalDialog2
{
    position: fixed;
    opacity: 1;
    width: 700px;
    height: 500px;
    margin-left: -350px;
    left: 50%;
    margin-top: -250px;
    top: 50%;
    z-index: 1003;
    padding: 5px 20px 13px 20px;
    border-radius: 20px;
    background: #fff;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

#SRRProfile .modalBack2
{
    opacity: .8;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1002;
}

/*::-webkit-scrollbar*/
/*{*/
    /*-webkit-appearance: none;*/
    /*width: 7px;*/
/*}*/
/*::-webkit-scrollbar-thumb*/
/*{*/
    /*border-radius: 4px;*/
    /*background-color: rgba(0,0,0,.5);*/
    /*-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);*/
/*}*/

#SRRProfile .SRR_Profile_Grid {
    margin-bottom: 15px;
}

#SRRProfile .SRR_Profile_Grid.ui-block-a {
    padding-top: 10px;
}

