.modal-dialog {
    position: fixed;
    opacity: 1;
    width: 700px;
    height: 500px;
    margin-left: -350px;
    left: 50%;
    margin-top: -250px;
    top: 50%;
    z-index: 1003;
    padding: 5px 20px 13px 20px;
    border-radius: 20px;
    background: #fff;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.DownloadProgressCounter {
    clear: both;
}

.DownloadProgressCounter span {
    float: left;
}

.DownloadProgressCounter div {
    float: right;
}
