-- created by gio on 4/22/2015 to update master data
-- ran in prod at 11:13
use REGFIELDTRIALS
go








select MAX(user_id) from [user]
--User inserts
begin tran
SET IDENTITY_INSERT DBO.[User] Off
INSERT INTO [REGFIELDTRIALS].[dbo].[User] ([User_ID], [UserType_ID],[FName],[LName],[Email],[OfficeNumber],[CellNumber],[SiteLocation],[Internal],[UpdateUserID],[UserAlias])   VALUES (172,1,'JESSE','BERG','JLBERG@MONSANTO.COM','507-637-2204','507-430-7343','Redwood Falls, MN PRE',1,'JASPAR','JLBERG')
INSERT INTO [REGFIELDTRIALS].[dbo].[User] ([User_ID], [UserType_ID],[FName],[LName],[Email],[OfficeNumber],[CellNumber],[SiteLocation],[Internal],[UpdateUserID],[UserAlias], Manager_ID)   VALUES (173,1,'Taylor ','Anderson','taylor.anderson@agstewards.com','507-829-1065','507-829-1065','Fargo, ND',0,'JASPAR','TANDE', 17)
commit tran

--User Internal flag updates
update [User] set Internal = 0, UpdateDateTime = GETDATE(), UpdateUserID='JASPAR' where USER_ID in (170,171)

--User Site Location Updates
update [User] set SiteLocation = 'Redwood Falls, MN PRE', UpdateDateTime = GETDATE(), UpdateUserID='JASPAR' where USER_ID = 58
update [User] set SiteLocation = 'Redwood Falls, MN PRE', UpdateDateTime = GETDATE(), UpdateUserID='JASPAR' where USER_ID = 59

--UserType updates
update [User] set UserType_ID = 3, UpdateDateTime = GETDATE(), UpdateUserID='JASPAR' where USER_ID = 149
update [User] set UserType_ID = 4, UpdateDateTime = GETDATE(), UpdateUserID='JASPAR' where USER_ID = 5
update [User] set UserType_ID = 4, UpdateDateTime = GETDATE(), UpdateUserID='JASPAR' where USER_ID = 8
update [User] set UserType_ID = 1, UpdateDateTime = GETDATE(), UpdateUserID='JASPAR' where USER_ID = 151


--User Alias updates
update [User] set UserAlias = 'DKHANK', UpdateDateTime = GETDATE(), UpdateUserID='JASPAR' where USER_ID = 20
update [User] set UserAlias = 'MJMILL6', UpdateDateTime = GETDATE(), UpdateUserID='JASPAR' where USER_ID = 98


--trialcatalog deletes
update TrialCatalog set IsDeleted = 1, UpdateDateTime = GETDATE(), UpdateUserID='JASPAR' where Trial_ID in (2037,2038,1468,1469,1470,1471,1483,1484,1485,1486,1491,1492,1514,1515,1008,1009,2286,2287,1607,1609,1610,1613,1656,1659,1663,1664,1517,1518,1519,1524,1525,1526,1527,1528,1529,1543,1544,1547,1548,1549,1551,1552,1553,1536,1537,1557,1558,1567,1568,1570,1571,1577,1578,1582,1583,1796,1797,1798,1799,1800,1801,1802,1803,1805,1806,1807,1809,1810,1811,1813,1814,1816,1817,1818,1724,1725,1743,1744,1755,1756,1760,1761,1763,1764,1768,1769,1773,1774,1777,1781,1782,1783,1788,1789,1823,1824,1826,1827,1828,1833,1834,1836,1837,1793,1794,1560,1563,1565,1581,1617,1593,1594,1595,1596,1721,1722,1723,1726,1731,1728,1632,1633)

--TrialCatalog Inserts
begin tran
INSERT INTO [REGFIELDTRIALS].[dbo].[TrialCatalog] ([ComplianceStatus],[Crop_ID],[Trial_ID],[SRRLeadUser_ID],[TrialYear],[Name],[City],[State],[Zip],[County],[FarmName],[Trait_ID],[Internal],[Site_ID],[UpdateUserID],[Archive]) VALUES ('Stewarded',1,2409,114,2015,'Opperman Helen/Geo1','LINCOLN','IL','62656','LOGAN','Opperman Helen/Geo1',1,1,13,'JASPAR',0)
INSERT INTO [REGFIELDTRIALS].[dbo].[TrialCatalog] ([ComplianceStatus],[Crop_ID],[Trial_ID],[SRRLeadUser_ID],[TrialYear],[Name],[City],[State],[Zip],[County],[FarmName],[Trait_ID],[Internal],[Site_ID],[UpdateUserID],[Archive]) VALUES ('Stewarded',1,2410,101,2015,'Alan Shaw 8','Middletown','MO','63359','Pike','Shaw Farms',1,1,6,'JASPAR',0)
INSERT INTO [REGFIELDTRIALS].[dbo].[TrialCatalog] ([ComplianceStatus],[Crop_ID],[Trial_ID],[SRRLeadUser_ID],[TrialYear],[Name],[City],[State],[Zip],[County],[FarmName],[Trait_ID],[Internal],[Site_ID],[UpdateUserID],[Archive]) VALUES ('Stewarded',1,2411,20,2015,'Johns','Chenoa','IL','61726','McLean','Litz Farm Corp',1,0,20,'JASPAR',0)
INSERT INTO [REGFIELDTRIALS].[dbo].[TrialCatalog] ([ComplianceStatus],[Crop_ID],[Trial_ID],[SRRLeadUser_ID],[TrialYear],[Name],[City],[State],[Zip],[County],[FarmName],[Trait_ID],[Internal],[Site_ID],[UpdateUserID],[Archive]) VALUES ('Stewarded',1,2412,20,2015,'Wahls','Cooksville','IL','61730','McLean','Litz Farm Corp',1,0,20,'JASPAR',0)
commit tran


--TrialCatalog Name Updates
begin tran
update TrialCatalog set Name = 'J Johnson Cowhill JJ3 & JJ4 75ac', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1530
update TrialCatalog set Name = 'J Johnson Cowhill Pasture E & W', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1531
update TrialCatalog set Name = 'J Johnson Cowhill 82ac', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1532
update TrialCatalog set Name = 'J Johnson/Cowhill JJ6', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1533
update TrialCatalog set Name = 'J Johnson Cowhill 75ac', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1534
update TrialCatalog set Name = 'J/A Johnson Vedder 120ac', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1535
update TrialCatalog set Name = 'A Johnson & Ailor 60ac', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1539
update TrialCatalog set Name = 'A Johnson 45 ac', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1540
update TrialCatalog set Name = 'R Turner R40 & R42 Rapotec ', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1559
update TrialCatalog set Name = 'R Turner R8 & R11 Jims ', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1562
update TrialCatalog set Name = 'R Turner R1 & R20 Blue Shop & Asher', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1564
update TrialCatalog set Name = 'T Turner T1,T18, & T19 Carlburg', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1580
update TrialCatalog set Name = 'Smody Brown, Coachs, Shands, & Riley', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1592
update TrialCatalog set Name = 'Watkins Darnell ', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1606
update TrialCatalog set Name = 'Watkins Reed ', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1608
update TrialCatalog set Name = 'Watkins Home', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1611
update TrialCatalog set Name = 'Watkins Summer ', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1612
update TrialCatalog set Name = 'Murphy Jims 240 on 327 & Johns 80', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1619
update TrialCatalog set Name = 'Riley Lape 280', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1625
update TrialCatalog set Name = 'Burke 820 Fields', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1631
update TrialCatalog set Name = 'Young Pulliam Farm ', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1637
update TrialCatalog set Name = 'Young Boyles Middle', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1639
update TrialCatalog set Name = 'Brown Huff Farm', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1649
update TrialCatalog set Name = 'Rone Old 40', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1655
update TrialCatalog set Name = 'Massey Homeplace', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1662
update TrialCatalog set Name = 'Feezor CBM 420ac', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1683
update TrialCatalog set Name = 'Feezor Cecil 115ac', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1684
update TrialCatalog set Name = 'Feezor Smith ', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1685
update TrialCatalog set Name = 'PORTER LANGLEY ', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1720
update TrialCatalog set Name = 'PORTER AYCOCK ', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1727
update TrialCatalog set Name = 'PORTER SHARP EAST ', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1730
update TrialCatalog set Name = 'SEYER TOMS & HATFIELD ', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1792
update TrialCatalog set Name = 'HUGHES CLINES ISLAND SHOP 300AC FLDS1,2&3', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1804
update TrialCatalog set Name = 'HUGHES CLINES ISLAND WEST SIDE FARM FLD 4&5', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1808
update TrialCatalog set Name = 'HUGHES HWY N  120AC FARM FLD 1,2,&3', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1812
update TrialCatalog set Name = 'HUGHES 400A FARM FLD 3,4&5', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1815
commit tran

--TrialCatalog County Updates
update TrialCatalog set County = 'Barton', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1500
update TrialCatalog set County = 'Barton', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1501
update TrialCatalog set County = 'Jasper', UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1503

--SRRUser_Trial_xref delete
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1438 and SRRUser_ID = 143
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1456 and SRRUser_ID = 143
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1457 and SRRUser_ID = 143
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1458 and SRRUser_ID = 143
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1459 and SRRUser_ID = 143
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1460 and SRRUser_ID = 143
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1461 and SRRUser_ID = 143
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 28635 and SRRUser_ID = 145
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 28636 and SRRUser_ID = 145
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 28678 and SRRUser_ID = 143
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 28867 and SRRUser_ID = 143
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 28869 and SRRUser_ID = 143
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 28872 and SRRUser_ID = 143
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 28900 and SRRUser_ID = 143
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 28903 and SRRUser_ID = 143
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 29049 and SRRUser_ID = 143
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 29050 and SRRUser_ID = 143
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 29278 and SRRUser_ID = 143
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 28884 and SRRUser_ID = 144
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 7885606 and SRRUser_ID = 122
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 8362175 and SRRUser_ID = 113
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1863 and SRRUser_ID = 62
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1864 and SRRUser_ID = 62
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1865 and SRRUser_ID = 62
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1866 and SRRUser_ID = 62
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1867 and SRRUser_ID = 62
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1868 and SRRUser_ID = 62
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 2037 and SRRUser_ID = 116
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 2038 and SRRUser_ID = 116
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1468 and SRRUser_ID = 103
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1469 and SRRUser_ID = 103
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1470 and SRRUser_ID = 103
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1471 and SRRUser_ID = 103
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1483 and SRRUser_ID = 100
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1484 and SRRUser_ID = 100
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1485 and SRRUser_ID = 100
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1486 and SRRUser_ID = 100
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1491 and SRRUser_ID = 159
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1492 and SRRUser_ID = 159
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1514 and SRRUser_ID = 51
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1515 and SRRUser_ID = 51
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1008 and SRRUser_ID = 55
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1009 and SRRUser_ID = 55
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 2286 and SRRUser_ID = 56
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 2287 and SRRUser_ID = 56
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1517 and SRRUser_ID = 45
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1518 and SRRUser_ID = 45
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1519 and SRRUser_ID = 45
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1524 and SRRUser_ID = 45
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1525 and SRRUser_ID = 45
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1526 and SRRUser_ID = 45
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1527 and SRRUser_ID = 45
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1528 and SRRUser_ID = 45
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1529 and SRRUser_ID = 45
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1543 and SRRUser_ID = 132
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1544 and SRRUser_ID = 132
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1547 and SRRUser_ID = 132
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1548 and SRRUser_ID = 132
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1549 and SRRUser_ID = 132
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1551 and SRRUser_ID = 132
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1552 and SRRUser_ID = 132
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1553 and SRRUser_ID = 132
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1536 and SRRUser_ID = 44
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1537 and SRRUser_ID = 44
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1557 and SRRUser_ID = 45
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1558 and SRRUser_ID = 45
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1567 and SRRUser_ID = 45
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1568 and SRRUser_ID = 45
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1570 and SRRUser_ID = 45
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1571 and SRRUser_ID = 45
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1577 and SRRUser_ID = 45
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1578 and SRRUser_ID = 45
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1582 and SRRUser_ID = 45
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1583 and SRRUser_ID = 45
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1796 and SRRUser_ID = 44
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1797 and SRRUser_ID = 44
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1798 and SRRUser_ID = 44
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1799 and SRRUser_ID = 44
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1800 and SRRUser_ID = 44
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1801 and SRRUser_ID = 44
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1802 and SRRUser_ID = 44
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1803 and SRRUser_ID = 44
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1805 and SRRUser_ID = 44
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1806 and SRRUser_ID = 44
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1807 and SRRUser_ID = 44
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1809 and SRRUser_ID = 44
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1810 and SRRUser_ID = 44
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1811 and SRRUser_ID = 44
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1813 and SRRUser_ID = 44
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1814 and SRRUser_ID = 44
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1816 and SRRUser_ID = 44
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1817 and SRRUser_ID = 44
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1818 and SRRUser_ID = 44
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1724 and SRRUser_ID = 43
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1725 and SRRUser_ID = 43
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1743 and SRRUser_ID = 44
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1744 and SRRUser_ID = 44
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1755 and SRRUser_ID = 43
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1756 and SRRUser_ID = 43
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1760 and SRRUser_ID = 132
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1761 and SRRUser_ID = 132
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1763 and SRRUser_ID = 132
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1764 and SRRUser_ID = 132
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1768 and SRRUser_ID = 132
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1769 and SRRUser_ID = 132
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1773 and SRRUser_ID = 132
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1774 and SRRUser_ID = 132
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1777 and SRRUser_ID = 132
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1781 and SRRUser_ID = 132
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1782 and SRRUser_ID = 132
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1783 and SRRUser_ID = 132
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1788 and SRRUser_ID = 44
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1789 and SRRUser_ID = 44
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1823 and SRRUser_ID = 46
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1824 and SRRUser_ID = 46
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1826 and SRRUser_ID = 46
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1827 and SRRUser_ID = 46
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1828 and SRRUser_ID = 46
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1833 and SRRUser_ID = 132
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1834 and SRRUser_ID = 132
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1836 and SRRUser_ID = 132
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1837 and SRRUser_ID = 132
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1793 and SRRUser_ID = 44
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1794 and SRRUser_ID = 44
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1560 and SRRUser_ID = 45
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1563 and SRRUser_ID = 45
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1565 and SRRUser_ID = 45
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1581 and SRRUser_ID = 45
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1617 and SRRUser_ID = 45
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1593 and SRRUser_ID = 45
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1594 and SRRUser_ID = 45
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1595 and SRRUser_ID = 45
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1596 and SRRUser_ID = 45
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1721 and SRRUser_ID = 43
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1722 and SRRUser_ID = 43
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1723 and SRRUser_ID = 43
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1726 and SRRUser_ID = 43
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1731 and SRRUser_ID = 43
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1728 and SRRUser_ID = 43
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1632 and SRRUser_ID = 46
update SRRUser_Trial_Xref set IsDeleted = 1, UpdateDateTime=GETDATE(), UpdateUserID = 'JASPAR' where Trial_ID = 1633 and SRRUser_ID = 46

--SRRUser_Trial_xref inserts
begin tran
INSERT INTO [REGFIELDTRIALS].[dbo].[SRRUser_Trial_Xref] ([SRRUser_ID],[Trial_ID],[PrimarySRR],[UpdateUserID]) VALUES (141,1358,1,'JASPAR')
INSERT INTO [REGFIELDTRIALS].[dbo].[SRRUser_Trial_Xref] ([SRRUser_ID],[Trial_ID],[PrimarySRR],[UpdateUserID]) VALUES (141,1359,1,'JASPAR')
INSERT INTO [REGFIELDTRIALS].[dbo].[SRRUser_Trial_Xref] ([SRRUser_ID],[Trial_ID],[PrimarySRR],[UpdateUserID]) VALUES (172,1438,1,'JASPAR')
INSERT INTO [REGFIELDTRIALS].[dbo].[SRRUser_Trial_Xref] ([SRRUser_ID],[Trial_ID],[PrimarySRR],[UpdateUserID]) VALUES (172,1456,1,'JASPAR')
commit tran
select @@TRANCOUNT
select * from [SRRUser_Trial_Xref] where SRRUser_ID = 151

