use REGFIELDTRIALS
go

begin tran
--Delete responses
DELETE FROM Response
WHERE TrialProgress_ID in 
	(  
	 SELECT TrialProgress_ID 
	 FROM trialprogress 
	 WHERE Trial_ID IN 
		(
		-- Trials from Test 1 thru Test 100 & Test105
		SELECT [Trial_ID]
		FROM [REGFIELDTRIALS].[dbo].[TrialCatalog]
		WHERE Trial_ID in (99999001,99999002,99999003,99999004,99999005,99999006,99999007,99999008,99999009,99999010,99999011,99999012,99999013,99999014,99999015,99999016,99999017,99999018,99999019,99999020,99999021,99999022,99999023,99999024,99999025,99999026,99999027,99999028,99999029,99999030,99999031,99999032,99999033,99999034,99999035,99999036,99999037,99999038,99999039,99999040,99999041,99999042,99999043,99999044,99999045,99999046,99999047,99999048,99999049,99999050,99999051,99999052,99999053,99999054,99999055,99999056,99999057,99999058,99999059,99999060,99999061,99999062,99999063,99999064,99999065,99999066,99999067,99999068,99999069,99999070,99999071,99999072,99999073,99999074,99999075,99999076,99999077,99999078,99999079,99999080,99999081,99999082,99999083,99999084,99999085,99999086,99999087,99999088,99999089,99999090,99999091,99999092,99999093,99999094,99999095,99999096,99999097,99999098,99999099,99999100,99999105)
		)
	)
commit tran

begin tran
--Delete TrialProgress rows
DELETE FROM trialprogress 
WHERE Trial_ID IN 
	(
	-- Trials from Test 1 thru Test 100 & Test105
	SELECT [Trial_ID]
	FROM [REGFIELDTRIALS].[dbo].[TrialCatalog]
	WHERE Trial_ID in (99999001,99999002,99999003,99999004,99999005,99999006,99999007,99999008,99999009,99999010,99999011,99999012,99999013,99999014,99999015,99999016,99999017,99999018,99999019,99999020,99999021,99999022,99999023,99999024,99999025,99999026,99999027,99999028,99999029,99999030,99999031,99999032,99999033,99999034,99999035,99999036,99999037,99999038,99999039,99999040,99999041,99999042,99999043,99999044,99999045,99999046,99999047,99999048,99999049,99999050,99999051,99999052,99999053,99999054,99999055,99999056,99999057,99999058,99999059,99999060,99999061,99999062,99999063,99999064,99999065,99999066,99999067,99999068,99999069,99999070,99999071,99999072,99999073,99999074,99999075,99999076,99999077,99999078,99999079,99999080,99999081,99999082,99999083,99999084,99999085,99999086,99999087,99999088,99999089,99999090,99999091,99999092,99999093,99999094,99999095,99999096,99999097,99999098,99999099,99999100,99999105)
	)	
commit tran	